import { rootRoute } from '@/routes/routeTree'
import { createRoute } from '@tanstack/react-router'

export const homeRoute = createRoute({
  getParentRoute: () => rootRoute,
  path: '/<%= name %>',
  component: <%= name %>
})

function <%= name %>() {
  return (
    <h1 className="text-5xl font-bold"><%= name %> component </h1>
  )
}
